{% load staticfiles %}
<footer id="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">

	
	<div class="container">

		
		<div class="col-md-3 company-details"><div class="icon-top red-text"><img src="{% static 'img/map25-redish.png' %}" alt="" pagespeed_url_hash="1157961629" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/></div><div class="zerif-footer-address">台北市中正區忠孝西路一段41號8樓之6</div></div><div class="col-md-3 company-details"><div class="icon-top green-text"><img src="{%  static 'img/envelope4-green.png' %}" alt="" pagespeed_url_hash="898458066" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/></div><div class="zerif-footer-email">panda.pdic@gmail.com</div></div><div class="col-md-3 company-details"><div class="icon-top blue-text"><img src="{% static 'img/telephone65-blue.png' %}" alt="" pagespeed_url_hash="1495099730" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/></div><div class="zerif-footer-phone">0963-599-345</div></div>			</div> <!-- / END CONTAINER -->

</footer> <!-- / END FOOOTER  -->