{%  extends 'base.html' %}

{% block content %}
<h1> Content </h1>

<form method='POST' action=''> {%  csrf_token %}

<div class="fieldWrapper">

{{ form.name }}
</div>

<div class="fieldWrapper">
<label>Email : </label>
{{ form.email }}
</div>

<div class="fieldWrapper">
<label>Subject : </label>
{{ form.subject }}
</div>

<div class="fieldWrapper">
<label>Message : </label>
{{ form.comment }}
</div>

<input type='submit' value='submit form'  class='btn btn-default'  />
</form>
{% endblock  %}

